@font-face {
    font-family: montserrat;
    src: url(./Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    padding: 25px;
    text-align: center;
    background-image: url(./BMW.avif);
    background-size: cover;
    position: relative;
}

h1{
    color: #87A0A4;
    font-size: 50px;
    font-weight:800;
    text-shadow: 2px 5px 7px black;
}

button{
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 20px 30px;
    background-color: #323739;
    color: #87A0A4;
    font-size: 25px;
    font-weight: 900;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #3b4144;
    transform: scale(1.05);
}